spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/xaviermichelmengue-design/esante-config-repo
          default-label: main
          skip-ssl-validation: true
          clone-on-start: true
          force-pull: true

server:
  port: 8888

eureka:
  client:
    service-url:
      defaultZone: http://esante-registry:8761/eureka/

# Configuration CORS globale
cors:
  allowed-origins: "http://localhost:3000"
  allowed-methods: "GET,POST,PUT,DELETE,OPTIONS"
  allowed-headers: "*"
  allow-credentials: true
