spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/xaviermichelmengue-design/esante-config-repo
          default-label: main
          skip-ssl-validation: false
          clone-on-start: true
          force-pull: true
          timeout: 10

server:
  port: 8888

eureka:
  client:
    service-url:
      defaultZone: http://esante-registry:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: "*"
